<script src="~/Scripts/Index.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="~/Content/Styles.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<body>
    <div class="row text-center">
        <button type="submit" class="btn btn-primary" onclick="UserAction()">Get the time</button>
    </div>
    <p id="outputCurrentTimeRequest" class="pad-bot"></p>
    <p id="outputAllTimeRequests"></p>
</body>
