<script src="~/Scripts/Index.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="~/Content/Styles.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<body class="text-center">   
    <div class="container-fluid pad-top">
        <div class="row justify-content-center">
            <select id="timeZoneSelect"></select>
        </div>
        <div class="row justify-content-center pad-top">
            <button type="submit" class="btn btn-primary" onclick="UserAction()">Get the time</button>
        </div>
        <div class="row pad-top border-bottom">
            <p class="pad-bot fixed-height text-center" id="outputCurrentTimeRequest"></p>
        </div>
        <div class="row pad-top">            
            <div class="row text-center list-title">
                <h2> All Requested Times </h2>
            </div>
            <div class="pad-top">
                <ul class="list-group text-center" id="allTimeRequestsList"> No Requests </ul>
            </div>
            
        </div>
    </div>
</body>
