body {
    font-size: 3vw !important;
    text-align: center;
    font-family: 'Global User Interface';
}

h2 {
    font-size: 4vw !important;
    font-weight: bold !important;
}

button {
    font-size: 3vw !important;  
}

p {
    font-size: 4vw;
    text-align: center;
}

.pad-bot {
    padding-bottom: 3vh;
}
